body {
    text-align: center;
}

#lab {
    color: brown;
}

#col {
    color: rgb(39, 226, 247);
}

#pixel {
    color: rgb(245, 154, 79);
}

.grid {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Wendy One', sans-serif;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: 'Kreon', serif;
    font-size: 30px;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}